.search_main{
    width: 100%;
    height: 100%;
}

.header_form{
    width: inherit;
    height: 100px;
    display: flex;
    align-items: center;
    background: #fff;
    color: #000;
}

.btn_style{
    border: none;
    color: #009fff;
    background: #fff;
}

.form_style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.p_style{
    margin-right: 350px;
}

.form_main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input_style{
    width: inherit;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.input{
    margin-right: 20px;
}

.input_style-P{
    margin-right: 50px;
}

.btn_style_cansle{
    border: none;
    color: #0012ff;
    background: #fff;
    margin-left: 50px;
}